language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - 'lts/*'
script:
  - npm run lint
  - npm run test
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  only:
    - master
